h1 {
    font-size: 3em;
    margin: 0px;
    color: $cc-lightBlue;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

h2 {
    color: #aaa;
    font-size: 2.5em;
}

h3 {
    color: #aaa;
    font-size: 1.6em;
}

h4 {
    color: #666;
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
    color: $cc-lightBlue;
}

ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}
