h1 {
    font-size: 2.7em;
    margin: 0px;
    color: $cc-lightBlue;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

h2 {
    color: #aaa;
    font-size: 2.2em;
}

h3 {
    color: #aaa;
    font-size: 1.5em;
}

h4 {
    color: #666;
    font-size: 1.1em;
    margin: 10px 0px;
}

h5 {
    font-size: 1em;
    color: $cc-lightBlue;
}

ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

span.created-at {
    color: #888;
    font-size: 12px;
}