form {
	margin: 0px;
	width: 100%;

	&.single-code-form {
		@include display(flex);
		height: 100%;
	}

}

input {
	outline: none;
	height: 100%;
	width: 100%;
	padding: 10px;
	color: #777;
	border: solid 1px #ddd;
	background: #fafafa;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	@include transition(all ease 0.5s);
}

select {
	width: 100%; height: auto;
	border: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	option {
		padding: 7px;
		font-size: 13px;
		&:hover {
			background: #eee !important;
			cursor: pointer;
		}
		&:checked {
			background: $cc-lightBlue;
			color: #fff;
		}
		&:nth-child(odd) {
			color:$cc-lightBlue;
			background: #fff;
		}
		&:nth-child(even) {
			color:$cc-lightBlue;
			background: #fafafa;
		}
	}
}

input[type=button] {
	color: #fff;
	text-align: center !important;
	border-radius: 5px;
	width: auto;
	background: $cc-lightBlue;
}

textarea {
	display: block;
	width: 100%;
	min-height: 100px;
	outline: none;
	border: solid 1px #ddd;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	background: #fafafa;
	border-radius: 7px;
	font-size: 1em;
	color: #777;
	padding: 10px;
}