input {
	outline: none;
	border: none;
	height: 100%;
	width: 100%;
	padding: 10px 10px 10px 40px;
	font-size: 1em;
	color: #777;
	@include transition(all ease 0.5s);
}

input[type="textarea"] {
	height: 200px;
}

input[type=button] {
	color: #fff;
	text-align: center !important;
	border-radius: 5px;
	width: auto;
	background: $cc-lightBlue;
}