input {
	outline: none;
	border: none;
	height: 100%;
	width: 100%;
	margin: 10px auto;
	border: solid 1px #ccc;
	border-top: none; border-bottom: none;
	padding: 10px 10px 10px 40px;
	font-size: 1em;
	color: #777;
	@include transition(all ease 0.5s);
	@include linear-gradient(top, #f7f7f7, #fff);
	&:hover {
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
	}
	&:focus {
		color: #333;
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
	}
}

input[type="textarea"] {
	height: 200px;
}

input[type=button] {
	color: #fff;
	text-align: center !important;
	border-radius: 5px;
	width: auto;
	background: $cc-lightBlue;
}