@mixin sidebarItemBg($type) {
	background-image: url(../images/#{$type}-icon.svg), -webkit-linear-gradient(-89deg, lighten($cc-darkBlue, 20%) 0%, $cc-lightBlue 96%) ;
	background-image: url(../images/#{$type}-icon.svg), -o-linear-gradient(-89deg, lighten($cc-darkBlue, 20%) 0%, $cc-lightBlue 96%) ;
	background-image: url(../images/#{$type}-icon.svg), -moz-linear-gradient(-89deg, lighten($cc-darkBlue, 20%) 0%, $cc-lightBlue 96%);
	background-image: url(../images/#{$type}-icon.svg), -ms-linear-gradient(-89deg, lighten($cc-darkBlue, 20%) 0%, $cc-lightBlue 96%);
	background-image: url(../images/#{$type}-icon.svg), linear-gradient(-179deg, lighten($cc-darkBlue, 20%) 0%, $cc-lightBlue 96%);
	background-repeat: no-repeat;
	background-position: center;
	&:hover {
		background-image: url(../images/#{$type}-icon.svg);
		background-image: url(../images/#{$type}-icon.svg);
		background-image: url(../images/#{$type}-icon.svg);
		background-image: url(../images/#{$type}-icon.svg);
	}
}

@mixin bp($point) {
  @if $point == alpha {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == beta {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == charlie {
    @media (max-width: 650px)  { @content; }
  }
  @else {
    @media (max-width: $point + "px")  { @content; }
  }
}
