// Layout and Structure
$sidebar-width: 75px;
$infobar-height: 30px;

// Z-indexing
$z-sidebar: 999;
$z-infobar: 975;
$z-utilitybelt: 970;
$z-search: 960;
$z-toolbar: 920;
$z-console: 900;

// Color Palette
$cc-grey: #F3EFEF;
$cc-darkBlue: #326A76;
$cc-lightBlue: #45A0B2;
$cc-teal: #45A0B2;

$green: #A9DD83;
$yellow: #F7C659;
