<h1>New Snippet</h1>

<form {{action 'create' this on='submit'}}>

	<!-- Show this flag when the record is being saved -->
	{{#if isSaving}}
		<h4>Saving Code</h4>
	{{/if}}
	
	<p>
		<h4>Code Name</h4>
		{{input type="text" name="name" value=name}}
	</p>

	<p>
		<h4>Collections</h4>
		{{view Ember.Select 
			multiple="true"
			content=collections
			optionValuePath="content.id"
			optionLabelPath="content.name"
		}}
	</p>

	<p>
		<h4>Languages</h4>
		{{view Ember.Select 
			multiple="true"
			content=languages
			optionValuePath="content.id"
			optionLabelPath="content.name"
		}}
	</p>

	<p>
		<h4>Code Description</h4>
		{{textarea value=description name="description"}}
	</p>

	<p>
		<h4>Code Body</h4>
		{{textarea value=body name="body" class='codemirror-textarea'}}
	</p>

	<button>Create</button>

</form>
