<form class="single-code-form" {{action 'create' this on='submit'}}>

	<div class="col-side">

		<!-- Scrollable section -->
		<div class="scrollable">
			<h1>
			{{#if name}}
				{{outputName}}
			{{else}}
				New Snippet
			{{/if}}
			</h1>
			
			<div>
				<h3>Name</h3>
				{{input type="text" name="name" value=name}}
			</div>

			<div>
				<h3>Description</h3>
				{{textarea value=description name="description"}}
			</div>

			<div>
				<h3>Languages</h3>
				{{view Ember.Select 
					multiple="true"
					content=languages
					optionValuePath="content.id"
					optionLabelPath="content.name"
					size=languages.length
				}}
			</div>

			<div>
				<h3>Collections</h3>
				{{view Ember.Select 
					multiple="true"
					content=collections
					optionValuePath="content.id"
					optionLabelPath="content.name"
					size=collections.length
				}}
			</div>

		</div>
		
		<!-- Bottom fixed button -->
		<button class="create-button">
			{{#if isSaving}}
				<%= image_tag "loading-small-aqua.gif" %> 
				Saving Code
			{{else}}
				Save Code
			{{/if}}
		</button>

	</div>

	<div class="col-code">
		{{textarea value=body name="body" class="codemirror-textarea"}}
	</div>

</form>
