@import "infobar";
@import "utilities";
@import "toolbar";

#console {
	position: relative;
	height: 100%;
	z-index: $z-console;
	@include flex(1);
	@include linear-gradient(45deg, #ddd, #fff);
	background: image-url('wavegrid.png');
	.container {
		width: 100%;
		padding-left: $trench-width; // Compensate for sidebar
	}
}

#console-container {
	width: 100%; height: 100%;
	margin-top: $infobar-height;
	position: relative;
	overflow: auto;
	padding-bottom: 100px; // This is to compensate for the "Utility Bar"
}
