// Aqua Sidebar fixed to the left of the screen
#sidebar {
	background-image: -webkit-linear-gradient(-89deg, $cc-darkBlue 0%, $cc-lightBlue 96%);
	background-image: -o-linear-gradient(-89deg, $cc-darkBlue 0%, $cc-lightBlue 96%);
	background-image: -moz-linear-gradient(-89deg, $cc-darkBlue 0%, $cc-lightBlue 96%);
	background-image: -ms-linear-gradient(-89deg, $cc-darkBlue 0%, $cc-lightBlue 96%);
	background-image: linear-gradient(-179deg, $cc-darkBlue 0%, $cc-lightBlue 96%);
	-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
	height: 100% !important; width: $sidebar-width;
	position: relative;
	z-index: $z-sidebar;
	overflow: hidden;

	// Items
	.sidebar-item {
		display: block;
		min-height: $sidebar-width + 10; height: auto;
		color: #fff;
		cursor: pointer;
		position: relative;
		white-space: nowrap;
		text-align: center;
		-moz-box-shadow:    0px 1px 3px 0px rgba(21,21,21,0.50);
		box-shadow:         0px 1px 3px 0px rgba(21,21,21,0.50);
		@include sidebarItemBg(null);

		&:hover {
			.item-name {
				left: 120%;
				display: block;
			}
		}

		// Add
		&.add {
			@include sidebarItemBg("add");
		}

		// Languages
		&.languages {
			@include sidebarItemBg("languages");
		}

		// Collections
		&.collections {
			@include sidebarItemBg("collections");
		}

		// Single Collection
		&.collection {
			@include sidebarItemBg("collection");
			height: $sidebar-width + 20;
			.single-collection-name {
				position: absolute;
				display: block;
				width: 100%;
				bottom: 0px;
				font-size: 0.7em;
				padding: 7px;
				margin-top: 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	// Name Hint Span
	.item-name {
		background: rgba(0,0,0,0.8);
		padding: 12px 15px;
		font-size: 0.9em;
		font-weight: 700;
		width: auto; height: auto; max-width: 300px;
		border-radius: 7px;
		position: absolute;
		left: 100%; top: 15px;
		display: none;
		text-overflow: ellipsis;
		white-space: nowrap;
  		// Little side arrow
  		&:after {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-right-color: rgba(0, 0, 0, 0.8);
			border-width: 10px;
			margin-top: -10px;
		}
	}

	// The bar between primary tools and user saved tools
	hr.collection-divider {
		margin: 0px;
		border: solid 5px $cc-darkBlue;
		// box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	}
}
