.create-button {
	display: block;
	width: 100%;
	background: $cc-lightBlue;
	// background-image: image_url('loading-small-aqua.gif') !important;
	// background-repeat: no-repeat;
	// background-position: 20px center;
	color: #fff;
	padding: 15px;
	font-size: 1.2em;
	border: none;
	border-radius: 7px;
	margin: 10px 0px;
	z-index: 9876543;
	&:hover {
		background: darken($cc-lightBlue, 10%);
	}
	&.saving {
		background-image: image_url('loading-small-aqua.gif') !important;
	}
}

