.create-button {
	display: block;
	width: 100%;
	background: $cc-lightBlue;
	// background-image: image_url('loading-small-aqua.gif') !important;
	// background-repeat: no-repeat;
	// background-position: 20px center;
	color: #fff;
	padding: 15px;
	font-size: 1.2em;
	border: none;
	//border-radius: 7px;
	z-index: $z-create-btn;
	img {
		vertical-align: middle;
		padding: 0px 5px;
	}
	&:hover {
		background: darken($cc-lightBlue, 10%);
	}
	&.saving {
		background-image: image_url('loading-small-aqua.gif') !important;
	}

	position: absolute;
	bottom: 0; left: 0;
}

.btn {
	background: $cc-lightBlue;
	color: #fff;
	border-radius: 4px;
	padding: 15px;
	border-radius: 4px;
	line-height: 2.5em;

	&:hover {
		background: darken($cc-lightBlue, 10%);
	}

	&.btn-small {
		font-size: 13px;
		padding: 7px 10px;
	}
}

