.tile {
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.15);
  background: #eee;
  height: auto;
  width: 200px;
  margin: 5px;
  border-radius: 10px;
  padding: 20px 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  @include flex-grow(1);
  &:hover {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.35);
    @include linear-gradient(top, lighten($cc-darkBlue, 25%), $cc-lightBlue);
    span { color: #fff; }
  }

  // Loop over each language for the tile backgrounds
  &.language {
      @each $language in PHP, Python, Ruby, Sass, Swift, Javascript, Java, CSS, HTML, C, Git, Bash {
          &.#{$language} {
              padding-top: 80px;
              background: image-url('#{$language}.svg') no-repeat center 15px #eee;
              &:hover {
                  background: image-url('#{$language}-mo.svg') no-repeat center 15px $cc-lightBlue;
              }
          }
      }
  }

  span {
      font-size: 1.5em;
      color: #bbb;
      font-weight: 700;
  }
}
