<!-- Global Application Flexbox Wrapper -->
<div class="app-container">

    <!-- Sidebar -->
    <div id="sidebar">
        {{#link-to 'codes'}}
        <div class="sidebar-item add">
			<span class="item-name">Add Code</span>
		</div>
        {{/link-to}}

        {{#link-to 'languages'}}
		<div class="sidebar-item languages">
			<span class="item-name">Languages</span>
		</div>
        {{/link-to}}

        {{#link-to 'collections'}}
		<div class="sidebar-item collections">
			<span class="item-name">Collections</span>
		</div>
        {{/link-to}}

    </div>
    <!-- End Sidebar -->

    <!-- Console -->
	<div id="console">
        <!-- Infobar -->
		<div id="infobar">
			<ul>
				<li>
					<a title="Click to toggle the sidebar or simply press the Control key" class="sidebar-icon">
                        <%= image_tag "full-screen-icon.svg"  %>
                    </a>
				</li>
				<li>
					<a title="Codecove Home" class="home-icon" href="/">
						<%= image_tag "home-icon.svg"  %>
					</a>
					<ul class="sub-menu">
				        <li>
				        {{#link-to 'codes' class="add-code"}}
							Add Code
						{{/link-to}}
						</li>

						<li>
						{{#link-to 'languages' class="languages"}}
							Languages
						{{/link-to}}
						</li>

						<li>
				        {{#link-to 'collections' class="collections"}}
							Collections
				        {{/link-to}}
						</li>
					</ul>
				</li>
			</ul>

			<span class="breadcrumbs">Home > My Collections > Ruby Active Record Serializers</span>

	      <div class="layout-options">
	        <div class="one-column"></div>
			<div class="two-column"></div>
			<div class="three-column active"></div>
	      </div>
		</div>
        <!-- End Info Bar -->

        <!-- Main App Area | Where the magic happens -->
        <div id="console-container">
	    	{{outlet}}
		</div>
        <!-- End Main App Area -->

        <!-- Utility Wrap -->
		<div id="utility-wrap">

			<!-- Utility Belt -->
			<div id="utility-belt">
				<!-- Code Cove Logo -->
				<%= image_tag "logo.svg", :class => "logo" %>

				<!-- Search Form -->
				<form id="search" action="">
					<input type="text" class="search" name="search" placeholder="SEARCH">
					<div class="react-circle"></div>
				</form>


				<!-- Welcome/Login Message -->
				<div class="profile-utilities">
					<p class="welcome-message">
						Welcome back, Tedd!
						<%= image_tag "gear-icon.svg" %>
					</p>
				</div>
			</div>
			<!-- End Utility Belt -->

			<!-- Toolbar -->
			<div id="toolbar-wrap">
				<div id="toolbar">
					<div class="tool-item add"><p>Add To Collection</div>
					<div class="tool-item edit"><p>Edit Collection</div>
					<div class="tool-item pin"><p>Pin Collection to Sidebar</div>
					<div class="tool-item info"><p>Collection Information</div>
					<!-- <div class="tool-item grid"><p>Snap to Grid</div> -->
				</div>
			</div>

			<!-- Utility Box -->
			<div class="utilities">
				<h1>Settings</h1>
			</div>

		</div>
		<!-- End Utility Wrap -->

</div><!-- End App Container -->
