<h1>Codecove</h1>

<ul>
    <li>
        {{#link-to 'collections'}}
        Collections
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'languages'}}
        Languages
        {{/link-to}}
    </li>
</ul>

{{outlet}}
