<!-- Global Application Flexbox Wrapper -->
<div class="app-container">

	<!-- Sidebar -->
	<div id="sidebar" class="is-collapsed">
	    {{#link-to 'codes.new'}}
	    <div class="sidebar-item add">
			<span class="item-name">Add Code</span>
		</div>
	    {{/link-to}}

	    {{#link-to 'codes'}}
	    <div class="sidebar-item snippets">
			<span class="item-name">Code Snippets</span>
		</div>
	    {{/link-to}}

	    {{#link-to 'languages'}}
		<div class="sidebar-item languages">
			<span class="item-name">Languages</span>
		</div>
	    {{/link-to}}

	    {{#link-to 'collections'}}
		<div class="sidebar-item collections">
			<span class="item-name">Collections</span>
		</div>
	    {{/link-to}}
	</div>
	<!-- End Sidebar -->

      <!-- Console -->
	<div id="console">
		<!-- Infobar -->
		<div id="infobar">
			<ul>
				<li>
				   <a title="Click to toggle the sidebar or simply press the Control key" class="sidebar-icon">
		             <%= image_tag "full-screen-icon.svg"  %>
		          </a>
				</li>
				<li>
					{{#link-to 'codes' class="profile-icon"}}
						<%= image_tag "avatar.jpg"  %>
						<span>Happy {{get-current-day}}, Tedd!<span>
					{{/link-to}}
					<ul class="sub-menu">
						<li>
				        {{#link-to 'search'}}
							Search
				        {{/link-to}}
						</li>
				       <li>
				        	{{#link-to 'codes.new' class="add-code"}}
							Add Code
						{{/link-to}}
						</li>

						<li>
				        	{{#link-to 'codes' class="add-code"}}
							All Snippets
						{{/link-to}}
						</li>

						<li>
						{{#link-to 'languages' class="languages"}}
							Languages
						{{/link-to}}
						</li>

						<li>
					        {{#link-to 'collections' class="collections"}}
								Collections
					        {{/link-to}}
						</li>

						<li>
				        {{#link-to 'about' class="collections"}}
							About CodeCove
				        {{/link-to}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- End Info Bar -->

		<!-- Main App Area | Where the magic happens -->
		<div id="console-container">
			{{outlet}}
		</div>
		<!-- End Main App Area -->

	      <!-- Utility Wrap -->
		<div id="utility-wrap">

			<!-- Utility Belt -->
			<div id="utility-belt">
				<!-- Code Cove Logo -->
				<%= image_tag "logo.svg", :class => "logo" %>

				<!-- Search Form -->
				<form id="search" action="">
					{{input type="text" class="search" name="search" placeholder="SEARCH" value=searchText focus-in='goToSearch'}}
					<div class="react-circle"></div>
				</form>

			</div>
			<!-- End Utility Belt -->
		</div>
		<!-- End Utility Wrap -->
	</div>

	<!-- Alert and Notification -->
	<div id="alert-box">
		Some alert showing here
	</div>

</div><!-- End App Container -->
