<form class="single-code-form" {{action 'create' this on='submit'}}>

	<div class="col-side">

		<h1>{{name}}</h1>
		<!-- Show this flag when the record is being saved -->
		{{#if isSaving}}
			<h4>Saving Code</h4>
		{{/if}}
		
		<div class="col-2">
			<h4>Code Name</h4>
			{{input type="text" name="name" value=name}}
		</div>

		<div class="col-2">
			<h4>Code Description</h4>
			{{textarea value=description name="description"}}
		</div>

		<div class="col-3">
			<h4>Collections</h4>
			{{view Ember.Select 
				multiple="true"
				content=collections
				optionValuePath="content.id"
				optionLabelPath="content.name"
			}}
		</div>

		<div class="col-3">
			<h4>Languages</h4>
			{{view Ember.Select 
				multiple="true"
				content=languages
				optionValuePath="content.id"
				optionLabelPath="content.name"
			}}
		</div>


		<button class="create-button">
			{{#if isSaving}}
				Saving Code
			{{else}}
				Save Code
			{{/if}}
		</button>

	</div>

	<div class="col-code">
		{{textarea value=body name="body" class='codemirror-textarea'}}
	</div>

</form>


