<h1>Create new Code</h1>
<form action="">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="textarea" id="Codemirror">
  <input type="button" value="Create Code">
</form>