{{#if isEditing}}
	{{partial "codes/edit"}}
{{else}}
<form class="single-code-form" {{action 'update' this on='submit'}}>

	<div class="col-side">

		<div class="scrollable has-button">

			
			<h1>{{name}}</h1>
			<div>
				<p class="description">
					{{markdown description}}
				</p>
			</div>
			<!-- Bottom fixed button -->
			<button class="create-button" {{action 'beginEditing'}}>
				Edit {{name}}
			</button>
		</div>

	</div>

	<div class="col-code">
		{{textarea value=body name="body" class='codemirror-textarea'}}
	</div>
</form>
{{/if}}



