<form class="single-code-form" {{action 'update' this on='submit'}}>

	<div class="col-side">

		<div class="scrollable">
			<h1>{{name}}</h1>
			<div>
				<p class="description">
					{{markdown description}}
				</p>
			</div>
		</div>

	</div>

	<div class="col-code">
		{{textarea value=body name="body" class='codemirror-textarea'}}
	</div>

</form>


