<ul class="trench">
	{{#each}}
	<li>
		{{#link-to 'code' this}}
			 <span class="name">{{name}}</span>
			 <span>
			 	{{#each collection in collections}}
			 		{{collection.name}}
			 	{{/each}}
			 </span>
		{{/link-to}}
	</li>
	{{/each}}
</ul>

<div class="container">
	{{outlet}}
</div>

