<h1><%= image_tag('collections-icon-dark.svg') %>Collections</h1>
<ul>
    {{#each}}
    {{#link-to 'collection' this class="row"}}
    <li>
        <span>{{name}}</span>
    </li>
    {{/link-to}}
    {{/each}}
</ul>
