<center>
	<%= image_tag("logo.svg") %>

	<h1>Welcome to Code Cove</h1>

	<h1>Style this header, please</h1>
	<h2>Style this header, please</h2>
	<h3>Style this header, please</h3>
	<h4>Style this header, please</h4>
	<h5>Style this header, please</h5>
</center>
