<ul class="trench">
    {{#each}}
    <li {{bind-attr class="name :language"}}>
    	{{#link-to 'language' this classBinding=":language"}}
        <span>{{name}}</span>
    	{{/link-to}}
    </li>	
    {{/each}}
</ul>

<div class="container">
	{{outlet}}
</div>
