/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require codemirror
  *= require codemirror/themes/neo
 */

// CSS Browser reset
@import "config/normalize";

@import "config/variables";


// Bourbon Sass Library
@import "bourbon";
@import "neat";

// Settings | Mixins, Variables
@import "config/mixins";
@import "config/fonts";
@import "config/forms";

// Structural Elements
@import "partials/sidebar";
@import "partials/console";
@import "partials/trench";
@import "partials/search_overlay";

// Components
@import "components/alerts";
@import "components/search_form";
@import "components/code_window";
@import "components/code_tile";
@import "components/codemirror";
@import "components/buttons";

// Codemirror themes
//@import "codemirror_themes/neo.scss";


////////////////////////////////////////////////
// This global app wrapper uses Flexbox which
// allows the sidebar and the main console to
// resize fluidly with each other
///////////////////////////////////////////////
.app-container {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #eee;
    @include display(flex);
}

#search-input {
    max-height: 70px;
}

.scrollable {
	overflow: auto;
	height: 100%;
	//padding: 20px;
	img {
		width: 100%;
	}

}

.padded {
    padding: 20px;
}

.header-tools {
    width: 100%;
    height: $infobar-height;
    background: #fff;
    position: relative;
    @include display(flex);


    @include clearfix();

   .name {
        @include flex(1);
        background: $cc-lightBlue;
        font-size: 18px;
        color: #fff;
        height: $infobar-height;
        position: relative;
        display: inline-block;
        padding: 0px 20px;
        line-height: $infobar-height;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .back-btn {
        background: image_url('back-btn.svg') #fff no-repeat 10px center;
        background-size: 14px;
        line-height: $infobar-height;
        color: #888;
        height: 100%;
        width: auto;
        padding: 0px 15px 0px 35px;
        border-right: solid 1px #ddd;
        @include flex-grow(0 !important);
        @include align-self(flex-start);
        &:hover {
           background: image_url('back-btn-white.svg') $cc-lightBlue no-repeat 10px center;
           background-size: 14px; 
           line-height: $infobar-height;
           color: #fff;
           cursor: pointer;
        }
    }


    .edit-btn {
        background: image_url('edit-btn.svg') #fff no-repeat 88% center;
        background-size: 14px;
        line-height: $infobar-height;
        color: #888;
        height: 100%;
        width: auto;
        padding: 0px 35px 0px 15px;
        border-left: solid 1px #ddd;
        margin-left: auto;
        &:hover {
           background: image_url('edit-btn-white.svg') $cc-lightBlue no-repeat 88% center;
           background-size: 14px; 
           line-height: $infobar-height;
           color: #fff;
           cursor: pointer;
        }
    }

    .save-btn {
        background: image_url('save-btn-white.svg') $cc-lightBlue no-repeat 95% center;
        background-size: 17px;
        height: 100%;
        width: 100%;
        padding: 0px 20px;
        display: block;
        margin-left: auto;
        border: none;
        outline: none;
        span {
            font-size: 18px;
            color: #fff;
            line-height: $infobar-height;
        }

        &:hover {
           background: image_url('save-btn-white.svg') $cc-darkBlue no-repeat 95% center;
           background-size: 17px; 
           cursor: pointer;
        }
    }

    .delete-btn {
        background: image_url('delete-btn.svg') #fff no-repeat 88% center;
        background-size: 14px;
        line-height: $infobar-height;
        color: #888;
        height: 100%;
        width: auto;
        padding: 0px 35px 0px 15px;
        border-left: solid 1px #ddd;
        &:hover {
           background: image_url('delete-btn-white.svg') #BC2222 no-repeat 88% center;
           background-size: 14px; 
           line-height: $infobar-height;
           color: #fff;
           cursor: pointer;
        }
    }
}

.container {
   &.codes {
        background: #fafafa;
        h1 {
            color: #ccc;
            font-size: 7em;
            margin: 10px 0px;
        }
    } 
}

