<h1>Collections</h1>

<p>
	<h3>Collections in Codecove are a nice way to organize you code snippets.</h3>
	You may classify code collections by project, platform, maybe you have a favorites collection?
</p>